 :root{
    --card-bg: #eeeeee;
    --accent: #277eff;
    --muted: #3a3a3aa9;
    --backgr: #87878865;
    --hover: #575555e7;
    --radius: 12px;
    --gap: 15px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  }

   main[data-testid="test-contact-page"]{
    /* background: var(--card-bg);
    border-left: 5px solid #2824f5;
    border-radius: var(--radius); */
    padding: 10px;
    /* box-shadow: 0 5px 20px rgba(6, 10, 20, 0.301); */
    max-width: 800px;
    min-height: 50vh;
    display: grid;
    color: #000000;
    margin: 20px auto;
    align-items: start;
    } 

    /* navbar */
    nav.navbar{
    max-width: 100%;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border-radius: var(--radius);
    border-bottom: 2px solid #f52424;
    justify-content: space-between;
    }
    .navbar a{
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5vmin;
    color: #000000;
    }
    .navbar a:hover{
        color: var(--hover);
        transition: ease-in;
    }
    .navbar ul li{
    list-style: none;
    }

    form{
      padding: 20px;
       background: var(--card-bg);
       margin: 20px auto;
       box-shadow: 0 5px 20px rgba(6, 10, 20, 0.301); 
       border-left: 4px solid #2824f5;
       border-radius: var(--radius);
    }
  
   .box{
    margin: 20px auto;
    max-width: 80vw;
    max-height: 800px;
    padding: 25px;
    text-align: center;
  }   
  .box div{
    margin: 20px;
  }

  /* for label */
  div label{
    font-size: 2.5vmin;
    font-weight: 500;
  }
  div input{
    min-width: 300px;
    font-size: 2vmin;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #2824f5;
  }
  input:hover{
    background: #97b8e99c;
    border-left:2px solid #2824f5;
  }

  /* textarea */
   
  div textarea{
    font-size: 2vmin;
    padding: 10px;
    min-width: 300px;
    min-height: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #2824f5;

  }

  textarea::placeholder{
    font-size: 2vmin;
    color: var(--muted);
  }

  /* button */

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button[data-testid="test-contact-submit"]{
    margin: 10px auto;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: var(--radius);
    outline: none;
    background: var(--backgr);
    border-bottom: 2px solid #f52424;
  }

  button:hover{
    transition: ease;
    background: #a7747498;
    border-bottom: 3px solid #f52424;
  }



  /* for p */
  p{
    font-size: 2vmin;
    margin: 10px;
    text-align: left;
    color: #a70000;
  }
  #success{
    text-align: center;
    color: #a04000;
  }

  /* responsiveness */

  @media(max-width: 768px){
       main[data-testid="test-contact-page"]{
        padding: 15px;
        max-width: 80vw;
       }
       form{
        padding: 20px;
       }
       .box{
        padding: 20px;
        max-width: 500px;
       }
       .box div{
        text-align: left;
        margin: 10px;
       }
      
  }